body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
}

.main {
    flex-wrap: inherit;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.topText {
    color: #888;
    padding-top: 15%;
}

.pointer {
    align-self: center;
    opacity: 0.25;
    height: 75px;
    width: 75px;
    padding-bottom: 10px;
}

.loginButton {
    flex-direction: row;
    background-color: rgb(38, 82, 230);
    border-color: rgb(38, 82, 230);
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15pt;
}

.loginButton:hover {
    background-color: maroon;
}